{% extends 'base.html' %}

{% block title %} {{ post.title }} {% endblock %}

{% block content %}

<h1>{{ post.title }}</h1>

<p>{{post.content}}</p>

<p><i>By {{post.user.first_name}} {{ post.user.last_name }}</i></p>

<h3>Tags</h3>

<ul>

  {% for tag in tags %}

  <a href="/tags/{{ tag.tag_id }}">{{ tag.name }}</a>

  {% endfor %}

</ul>

<form>
  <button type="submit" formaction="/posts/{{ post.post_id }}/delete" formmethod="POST">Delete</button>
  <button type="submit" formaction="/posts/{{ post.post_id }}/edit" formmethod="GET">Edit</button>
</form>

<a href="/users/{{ post.user.id }}">Back</a>



{% endblock %}